body {
  background-color: #1690A7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0D3B66;
  padding: 10px;
  z-index: 1000;
}


header .navbar li {
  display: inline;
  float: left;
}



.navbar a {
  color: white;
  text-decoration: none;
  padding: 5px;
}

.float-right {
  float: right;
}

input {
  margin: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;

}

#inputs {
  margin-top: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#inputs .btn {
  background-color: #0D3B66;
  margin-top: 10px;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

#main-panel {
  background-color: rgb(21, 98, 161);
  width: 700px;
  height: 700px;
  margin-left: 20px;
}




.container {
  background-color: rgb(21, 98, 161);
  align-items: center;
  display: flex;
  width: 600px;
  height: 600px;
  margin-left: 90px;
  margin-top: 20px;
}

form {
  background-color: rgb(190, 205, 222);
  word-wrap: break-word;
  padding: 20px;
  margin-left: 70px;
  margin-top: 70px;

  border-radius: 10px;
  width: 350px;
  height: 350px;
}




footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #0D3B66;
  color: white;
}